<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.seoulwalk">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <queries>
        <package android:name="com.sec.android.app.shealth" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activity.ActivityStampCollection"></activity>
        <activity android:name=".Activity.ActivitySetting" />
        <activity android:name=".Activity.ActivityLevelInfo" />

        <meta-data
            android:name="com.samsung.android.health.permission.read"
            android:value="com.samsung.health.step_count;com.samsung.shealth.step_daily_trend" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBNVbhp39_02RSt81GNw3lcJ_c6xGtIQaw" />

        <activity android:name=".Activity.ActivityMap" />
        <activity android:name=".Activity.CameraActivity" />
        <activity android:name=".Activity.ActivityGallery" />
        <activity android:name=".Activity.ActivityLogin" />
        <activity android:name=".Activity.ActivityJoin" />
        <activity android:name=".Activity.ActivityDulle" />
        <activity android:name=".Activity.ActivityMypage" />
        <activity android:name=".Activity.ActivityCourseInfo" />
        <activity android:name=".Activity.ActivityGoal" />
        <activity android:name=".Activity.ActivityCommunity" />
        <activity android:name=".Activity.ActivityMyExerciseInfo" />
        <activity android:name=".Activity.ActivityWrite" />
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>